// TODO: Rename this thing. It's not just a book box anymore.

$book-box-padding: 15px;
$book-box-border-width: 1px;
$book-box-arrow-connector-height: 14px; // should be even
$book-box-arrow-connector-width: $book-box-arrow-connector-height / 2;

$book-box-circle-connector-width: 6px;
$book-box-circle-connector-height: $book-box-circle-connector-width;
$book-box-circle-connector-border-width: 2px;

.book-box {
}

.book-box--inner {
    background-color: rgba( darken($light-grey, 27%), 0.8 );
    border: $book-box-border-width solid $light-grey;
    border-radius: 4px; // TODO: 4px isn't enough for wide book-boxes. A percent value would probably be a good choice.
    overflow: hidden;
}

.book-box--data {
    display: table;
    width: calc(100% + 1px); // fixing webkit sub pixel rendering issue (if the actual width isn't dividable by 2,
                             // 100% is 1px to narrow, which is visible because of the background-color of
                             // .book-box--header-bar)
}

.book-box--header-bar {
    display: table-caption;
    background-color: rgba( $light-grey, 0.7 );
    font-size: 0.8rem;
    margin: 0;
    padding: floor($book-box-padding / 2);
    padding-left: $book-box-padding; // vertical (left) align with the content in $book-box--main

    @include clearfix;
}

.book-box--main,
.book-box--image-wrapper {
    display: table-cell;
    vertical-align: top;
    padding: $book-box-padding;
}

.book-box--image-wrapper {
    // Just in case the image needs some time to load, we style the alt text with these:
    color: white;
    font-size: 0.8rem;
    text-align: center;
}

.book-box--image-wrapper,
.book-box--cover {
    width: 60px; // TODO: This should be more responsive in the future.
    // TODO: Add min-height in case an image couldn't be loaded (breaks timeline layout).
}

.book-box--series {
    float: left;
}

.book-box--date {
    float: right;
}

.book-box--title {
    margin: 0 0 0.9rem 0;
    font-size: 1rem;
}

.book-box--description {
    margin: 0;
    font-size: 0.9rem;
}

.book-box--links {
    display: table;
    padding: $book-box-padding / 2 0;
    width: calc(100% - 2 * #{$book-box-padding});
    border-top: 1px solid $light-grey;
    margin: 0 $book-box-padding;
}

.book-box--link-wrapper {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.l-timeline--item .book-box {
    position: relative;
}

//:before = blue circle
.is-l-timeline-item-odd .book-box:before,
.is-l-timeline-item-even .book-box:before {
    position: absolute;
    top: calc( 50% - #{
        ($book-box-arrow-connector-height / 2)
        - (
            (
                  $book-box-arrow-connector-height
                - ($book-box-circle-connector-height + $book-box-circle-connector-border-width * 2)
            ) / 2
        )
    } ); // TODO I probably should put it on top again. Let's see when the timeline layout is ready
    width: $book-box-circle-connector-width;
    height: $book-box-circle-connector-height;
    border: $book-box-circle-connector-border-width solid white;
    border-radius: 100%;
    background-color: $main-color;
    content: '';

    left: -(
        $timeline-item-margin
        - ($timeline-line-width / 2)
        + ( ( $book-box-circle-connector-width + 2 * $book-box-circle-connector-border-width ) / 2)
    );
}

@media screen and(#{$timeline-two-column-media-query}) {
    .is-l-timeline-item-odd .book-box:before {
        left: auto;
        right: -(
            $timeline-item-margin
            + ( ( $book-box-circle-connector-width + 2 * $book-box-circle-connector-border-width ) / 2)
        );
    }

    .is-l-timeline-item-even .book-box:before {
        left: -(
            $timeline-item-margin
            + ( ( $book-box-circle-connector-width + 2 * $book-box-circle-connector-border-width ) / 2)
        );
    }
}

//:after = arrow
.is-l-timeline-item-odd .book-box:after,
.is-l-timeline-item-even .book-box:after {
    position: absolute;
    top: calc( 50% - #{$book-box-arrow-connector-height / 2} ); // TODO I probably should put it on top again. Let's see when the timeline layout is ready
    border: $book-box-arrow-connector-width solid transparent;
    content: '';

    left: -#{$book-box-arrow-connector-width * 2};
    border-right-color: $light-grey;
}

@media screen and(#{$timeline-two-column-media-query}) {
    .is-l-timeline-item-odd .book-box:after {
        left: auto;
        right: -#{$book-box-arrow-connector-width * 2};
        border-left-color: $light-grey;
        border-right-color: transparent;
    }

    .is-l-timeline-item-even .book-box:after {
        left: -#{$book-box-arrow-connector-width * 2};
        border-right-color: $light-grey;
    }
}
