$button-font-color: white;
$button-hover-background-color-darken-value: 8%;
$button-active-background-color-darken-value: 2 * $button-hover-background-color-darken-value;
$button-focus-outline-opacity: 0.6;

.button {
    display: inline-block;
    padding: 0.3472em 0.694em;
    border: 2px solid rgba( darken($light-grey, 27%), 0.5 );
    border-radius: 0.694em;

    margin: 0;

    background-color: $light-grey;

    font-size: 0.9rem;
    color: $button-font-color;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}

.button:hover,
.button:focus {
    background-color: darken($light-grey, $button-hover-background-color-darken-value);
}

.button:focus {
    outline: 2px solid rgba(white, $button-focus-outline-opacity);
    outline-offset: 3px;
}

.button:active {
    background-color: darken($light-grey, $button-hover-background-color-darken-value);
}

.button:visited { // in case .button is an <a>-tag and we defined a :visited style before
    color: $button-font-color;
}
