.fullscreen-background-image {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color: black;
}

@media screen and (max-width: 640px) {
    .fullscreen-background-image {
        background-image: url(img/kaemira-nebula640.jpg);
    }
}

@media screen and (max-width: 1280px) {
    .fullscreen-background-image {
        background-image: url(img/kaemira-nebula1280.jpg);
    }
}

@media screen and (min-width: 1280px) {
    .fullscreen-background-image {
        background-image: url(img/kaemira-nebula1920.jpg);
    }
}

/* TODO: Maybe add a WebP version, too? */
