$tag-vertical-padding: 0.12em;
$tag-border-width: 1px;
$tag-grey-darken: 19%;

.tag {
    /*display: inline-block;*/
    display: inline;

    padding: $tag-vertical-padding 0.4em;
    margin-top:    calc(-#{$tag-vertical-padding} - 1px); // make baseline at the same vertical line as the baseline of the surrounding text (which it isn't anymore, because of the border and the padding-top).
    margin-bottom: calc(-#{$tag-vertical-padding} - 1px);

    font-size: 0.8rem;

    border: $tag-border-width solid darken($light-grey, $tag-grey-darken + 10%);
    border-radius: 0.25em;
    background-color: darken($light-grey, $tag-grey-darken);
    color: lighten($light-grey, 25%);

    /* TODO: Add an "information"-icon here to make clear there's a tooltip. .tag[title] */
}
