$filter-box-checkbox-group-margin: 4px;

@keyframes show-series-filter {
    0% {
        width: 0;
        max-height: 0;
    }

    30%  {
        width: 100%;
        max-height: 0;
    }

    100% {
        width: 100%;
        max-height: 750px; // meh, this must be adjusted when we get more book serieses and the series list will be shown in one column
    }
}

.l-filter-box {
    position: relative;

    &--trigger {
        position: absolute;
        width: 100%;
        transform: translateY(-50%);
        z-index: 1;
        text-align: center;
    }

    &--dialog {
        box-sizing: border-box;

        // To make the animation start from middle:
        margin-left: auto;
        margin-right: auto;

        display: none;
        overflow: hidden;
    }

    &--dialog:target {
        display: block;
        animation-name: show-series-filter;
        animation-duration: 1.25s;
        animation-iteration-count: 1;
        animation-fill-mode: both;
        animation-timing-function: linear;
        animation-delay: 0.2s;
        animation-direction: normal;
    }

    &--dialog-content {
        padding-top: $visual-horizontal-body-padding;
    }

    &--dialog-content,
    &--dialog-footer {
        padding-left: $visual-horizontal-body-padding;
        padding-right: $visual-horizontal-body-padding;
    }

    &--dialog-footer {
        padding-bottom: $visual-horizontal-body-padding / 2;

        margin-top: $visual-horizontal-body-padding / 2 - $filter-box-checkbox-group-margin;

        text-align: center;
    }

    &--checkbox-group {
        column-count: 1;

        @media screen and (min-width: 700px) {
            column-count: 2;
        }

        @media screen and (min-width: 1000px) {
            column-count: 3;
        }

        @media screen and (min-width: 1350px) {
            column-count: 4;
        }

        @media screen and (min-width: 1700px) {
            column-count: 5;
        }

        column-gap: $filter-box-checkbox-group-margin;
    }

    &--checkbox {
        margin-bottom: $filter-box-checkbox-group-margin;
    }
}
