$filter-box-checkbox-group-margin: 4px;

.l-filter-box {
    position: relative;

    &--header {
        position: absolute;
        width: 100%;
        transform: translateY(-50%);
        z-index: 1;
        text-align: center;
    }

    &--content {
        $top-offset: 30px;

        position: relative;
        padding-top: $top-offset;
        top: -$top-offset;
        margin-bottom: -$top-offset;
    }

    &--checkbox-group {
        column-count: 1;

        @media screen and (min-width: 700px) {
            column-count: 2;
        }

        @media screen and (min-width: 1000px) {
            column-count: 3;
        }

        @media screen and (min-width: 1350px) {
            column-count: 4;
        }

        @media screen and (min-width: 1700px) {
            column-count: 5;
        }

        column-gap: $filter-box-checkbox-group-margin;
    }

    &--checkbox {
        margin-bottom: $filter-box-checkbox-group-margin;
    }
}
