$filter-box-checkbox-group-margin: 4px;

@keyframes show-series-filter {
    0% {
        width: 0;
        max-height: 0;
    }

    30%  {
        width: 100%;
        max-height: 0;
    }

    100% {
        width: 100%;
        max-height: 750px; // meh, this must be adjusted when we get more book series and the series list will be shown in one column
    }
}

.l-filter-box {
    position: relative;

    &--trigger {
        position: absolute;
        width: 100%;
        transform: translateY(-50%);
        z-index: 1;
        text-align: center;
    }

    &--checkbox {
        margin-bottom: $filter-box-checkbox-group-margin;
    }

    // Modal dialog view for smaller screens
    @media screen and(max-width: $filter-box-layout-switch-media-query-value) {
        $filter-box-dialog-margin: 3%;     // the outer margin the dialog box has against the viepwort.
        $filter-box-dialog-padding: 5vmin; // the inner padding of the dialog box.

        &--dialog { // This selector is used is JS, too!
            position: fixed;
            z-index: 1;
            top: $filter-box-dialog-margin; // will be overwritten by JS to make open animation start at the middle of the trigger button
            bottom: $filter-box-dialog-margin;
            left: $filter-box-dialog-margin;
            right: $filter-box-dialog-margin;

            transform: scale(0);
            top: 210px; // Estimated vertical middle position of filter trigger. Will be overwritten by JS

            transition-property: transform top;
            transition-duration: 0.3s;
            transition-timing-function: ease-out;
            transform-origin: top center;

            display: flex;
            flex-direction: column;

            border-radius: 10px;
            overflow: hidden;
        }

        .is-l-filter-box-dialog-visible,
        &--dialog:target {
            transform: scale(1);
            top: $filter-box-dialog-margin;
        }

        &--dialog-content {
            padding-left: $filter-box-dialog-padding;
            padding-right: $filter-box-dialog-padding;

            // increase padding on top and bottom to indicate scrollable area
            padding-top: $filter-box-dialog-padding * 1.7;
            padding-bottom: $filter-box-dialog-padding * 1.7;
        }

        &--dialog-header {
            display: table;
            width: 100%;
            box-sizing: border-box;
            background-color: $light-grey;
            padding-top: 0.4rem;
            padding-bottom: 0.4rem;
            padding-left: $filter-box-dialog-padding;
            padding-right: $filter-box-dialog-padding;
        }

        &--dialog-header-left-column,
        &--dialog-header-right-column {
            display: table-cell;
            vertical-align: middle;
        }

        &--dialog-header-left-column {
            text-align: center;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }

        &--dialog-header-right-column {
            width: 1%;
        }

        &--dialog-content {
            flex: 1;
            overflow-y: scroll;

            -webkit-overflow-scrolling: touch; /* triggers iOS like scrolling (swipping) on iOS */
        }

        &--dialog-footer {
            display: table;
            width: 100%;

            padding-top: $filter-box-dialog-padding;
            padding-bottom: $filter-box-dialog-padding;
            background-color: darken($light-grey, 20%);
        }

        &--dialog-footer-status-box,
        &--dialog-footer-button-box {
            display: table-cell;
            vertical-align: middle;
        }

        &--dialog-footer-status-box {
            text-align: left;
            padding-left: $filter-box-dialog-padding;
            padding-right: $filter-box-dialog-padding;
        }

        &--dialog-footer-status-text {
            display: none;
        }

        &--dialog-footer-button-box {
            text-align: right;
            padding-right: $filter-box-dialog-padding;
        }
    }

    // "Desktop"
    @media screen and(min-width: $filter-box-layout-switch-media-query-value) {
        &--dialog {
            box-sizing: border-box;

            // To make the animation start from middle:
            margin-left: auto;
            margin-right: auto;

            display: none;
            overflow: hidden;
        }

        .is-l-filter-box-dialog-visible,
        &--dialog:target {
            display: block;
            animation-name: show-series-filter;
            animation-duration: 1.25s;
            animation-iteration-count: 1;
            animation-fill-mode: both;
            animation-timing-function: linear;
            animation-direction: normal;
        }

        &--dialog-header {
            display: none;
        }

        &--dialog-content {
            padding-top: $visual-horizontal-body-padding;
        }

        &--dialog-content,
        &--dialog-footer {
            padding-left: $visual-horizontal-body-padding;
            padding-right: $visual-horizontal-body-padding;
        }

        &--dialog-footer {
            padding-bottom: $visual-horizontal-body-padding / 2;

            margin-top: $visual-horizontal-body-padding / 2 - $filter-box-checkbox-group-margin;

            text-align: center;
        }

        &--dialog-footer-status-text-dialog {
            display: none;
        }

        &--checkbox-group {
            column-count: 1; // → see also media queries for .l-filter-box--checkbox-group at the end
            column-gap: $filter-box-checkbox-group-margin;
        }
    }
}

// These media queries have to be outside of the .l-filter-box block, because libsass < 3.2 will generate nested media
// queries which are not interpreted by IE. We can reintegrate them into the nesting after libsass 3.2 is released, see
// https://github.com/sass/libsass/issues/185
@media screen and (min-width: $filter-box-layout-switch-media-query-value) {
    .l-filter-box--checkbox-group {
        column-count: 2;
    }
}

@media screen and (min-width: $filter-box-layout-switch-media-query-value + 300px) {
    .l-filter-box--checkbox-group {
        column-count: 3;
    }
}

@media screen and (min-width: $filter-box-layout-switch-media-query-value + 650px) {
    .l-filter-box--checkbox-group {
        column-count: 4;
    }
}

@media screen and (min-width: $filter-box-layout-switch-media-query-value + 1000px) {
    .l-filter-box--checkbox-group {
        column-count: 5;
    }
}
