$mainframe-footer-margin: 1.5rem;

.l-mainframe {
    margin: 0;
}

.l-mainframe--header {
    display: table;
    width: 100%;
    margin: 0;
}

.l-mainframe--title {
    padding: 1.8rem 0;
    margin: 0;
    display: table-cell;
}

.l-mainframe--tagline {
    display: table-caption; /* change visual order of tagline (put over .l-mainframe--title) */
    margin: 0;
}

.l-mainframe--top-intermediate {
    margin-bottom: 3rem;
}

@media screen and(min-height: 480px) {
    .l-mainframe--header,
    .l-mainframe--title,
    .l-mainframe--tagline {
        display: block;
    }

    .l-mainframe--tagline {
        margin-bottom: 3rem;
    }

    .l-mainframe--top-intermediate:after {
        // without this we would get collapsing margins which would end up with a filter button which vertical middle sits right on the top of the first timeline items.
        display: table;
        content: '';
    }
}

.l-mainframe--main {
}

.l-mainframe--footer {
    margin-top: $mainframe-footer-margin * 2;
}

.l-mainframe--footer-box {
    margin-bottom: $mainframe-footer-margin;
}
