$mainframe-footer-margin: 1.5rem;

.l-mainframe {
    margin: 0;
}

.l-mainframe--header {
    display: table;
    width: 100%;
    margin: 0;
}

.l-mainframe--title {
    padding: 1.8rem 0;
    display: table-cell;
}

.l-mainframe--tagline {
    display: table-caption; /* change visual order of tagline (put over .l-mainframe--title) */
    margin: 0;
}

.l-mainframe--filter-bar {
    text-align: center;
}

// TODO: Define margin between .l-mainframe--filter-bar and .l-mainframe--main: It isn't yet and the margin is only their by coincedence (because the <ol> of the timeline has a margin-top)

.l-mainframe--main {
    margin: 0 3vw; /* TODO: 3vw should probably be $timeline-item-margin */
}

.l-mainframe--footer {
    margin-top: $mainframe-footer-margin * 2; 
}

.l-mainframe--footer-box {
    margin-bottom: $mainframe-footer-margin;
}
