$timeline-line-width: 4px;
$timeline-item-margin: $visual-horizontal-body-padding;
$timeline-two-column-media-query: "min-width: 600px";

.l-timeline {
    padding: 0 0 0 $timeline-item-margin;
    margin: 0 $timeline-item-margin;

    background: linear-gradient(
        to right,
        $main-color 0px,
        $main-color $timeline-line-width,
        transparent $timeline-line-width + 1
    );
    background-repeat: repeat-y;

    list-style: none;
}

.l-timeline--item:not(.is-l-timeline-item-first) {
    padding-top: $timeline-item-margin;
}

@media screen and(#{$timeline-two-column-media-query}) {
    .l-timeline {
        padding: 0;
        background: linear-gradient(
            to right,
            transparent 0,
            transparent calc(50% - (#{$timeline-line-width} / 2) - 1px ),
            $main-color calc(50% - (#{$timeline-line-width} / 2)       ),
            $main-color calc(50% + (#{$timeline-line-width} / 2)       ),
            transparent calc(50% + (#{$timeline-line-width} / 2) + 1px )
        );

        @include clearfix;
    }

    .l-timeline--item {
        width: 50%;
        box-sizing: border-box;
    }

    .is-l-timeline-item-odd {
        float: left;
        padding-right: $timeline-item-margin;
    }

    .is-l-timeline-item-even {
        float: right;
        padding-left: $timeline-item-margin;
    }
}
