$timeline-line-width: 4px;
$timeline-item-margin: $visual-horizontal-body-padding;
$timeline-two-column-media-query: "min-width: 600px";

/* The element which is used by Isotope (.l-timeline--list) can't have padding, otherwise Isotope will calculate wrong positions. */

.l-timeline {
    padding: 0 $timeline-item-margin 0 ($timeline-item-margin * 2);

    background: linear-gradient(
        to right,
        transparent $timeline-item-margin - 1,
        $main-color $timeline-item-margin,
        $main-color $timeline-item-margin + $timeline-line-width,
        transparent $timeline-item-margin + $timeline-line-width + 1
    );
    background-repeat: repeat-y;
}

.l-timeline--list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.l-timeline--item {
    width: 100%; // This will be made position: absolute by Isotope, that why we have to add 'width: 100%'.
}

.l-timeline--item:not(.is-l-timeline-item-first) {
    padding-top: $timeline-item-margin;
}

@media screen and(#{$timeline-two-column-media-query}) {
    .l-timeline {
        margin: 0 auto;
        padding: 0 $timeline-item-margin;
        max-width: 1000px;

        background: linear-gradient(
            to right,
            transparent 0,
            transparent calc(50% - (#{$timeline-line-width} / 2) - 1px ),
            $main-color calc(50% - (#{$timeline-line-width} / 2)       ),
            $main-color calc(50% + (#{$timeline-line-width} / 2)       ),
            transparent calc(50% + (#{$timeline-line-width} / 2) + 1px )
        );
    }

    .l-timeline--list {
        @include clearfix;
    }

    .l-timeline--item {
        width: 50%;
        box-sizing: border-box;
    }

    .is-l-timeline-item-odd {
        float: left;
        padding-right: $timeline-item-margin;
    }

    .is-l-timeline-item-even {
        float: right;
        padding-left: $timeline-item-margin;
    }
}
