<footer class="l-mainframe--footer">
    <div class="l-mainframe--footer-box footer-box_black">
        <h2 class="footer-box_black--headline">Neuigkeiten:</h2>

        <p>Die letzten <span lang="en">Updates</span> kannst du auf dem <a href="https://twitter.com/str_timeline" lang="en">Twitter-Account</a> nachlesen.</p>
    </div>

    <div class="l-mainframe--footer-box footer-box_black">
        <h2 class="footer-box_black--headline" lang="en">Feedback:</h2>

        <p>Du hast einen Fehler gefunden, möchtest Lob loswerden oder hast eine Frage? Dann schreibe eine <a href="mailto:&#x73;&#x74;&#x61;&#x72;&#x2D;&#x74;&#x72;&#x65;&#x6B;&#x2D;&#x72;&#x6F;&#x6D;&#x61;&#x6E;&#x2D;&#x74;&#x69;&#x6D;&#x65;&#x6C;&#x69;&#x6E;&#x65;&#x40;&#x70;&#x68;&#x69;&#x6C;&#x69;&#x70;&#x70;&#x2D;&#x73;&#x6F;&#x65;&#x68;&#x6E;&#x6C;&#x65;&#x69;&#x6E;&#x2E;&#x64;&#x65;" lang="en">E-Mail</a> oder <a href="https://twitter.com/intent/tweet?text=@str_timeline%20">melde dich auf <span lang="en">Twitter</span></a>.</p>
    </div>


    <div class="l-mainframe--footer-box footer-box_black">
        <h2 class="footer-box_black--headline">Danke / <span lang="en">Credits</span>:</h2>

        <p>Erstellt mit Omega-Molekülen, Solitenpulsen und der Hilfe von folgenden netten Erdlingen:</p>

        <ul class="footer-box_black--list">
            <li>Markus Rohde von <span lang="en">Cross Cult</span> (danke für die freundliche Unterstützung).</li>
            <li><a href="http://www.glennclovis.com/" hreflang="en" lang="en">Glenn Clovis</a> gebührt Lobpreisung für <a href="https://glennclovis.deviantart.com/art/Kaemira-Nebula-98319079" hreflang="en" lang="en">Kaemira Nebula</a>.</li>
            <li><span lang="en">Favicon</span> <a href="http://thenounproject.com/term/vulcan-salute/116486/" hreflang="en" lang="en">Vulcan-Salute</a> erstellt für das <a href="http://thenounproject.com/" lang="en" hreflang="en">Noun Project</a> von <span lang="en">Jason Dilworth</span>.</li>
        </ul>
    </div>

    <div class="l-mainframe--footer-box footer-box">
        <p>
            Diese Seite ist inoffiziell und wird nicht von <span lang="en">Cross Cult</span>, <span lang="en">Paramount</span> oder <span lang="en">CBS</span> betrieben.
            <br><a href="impressum.html">Impressum &amp; Datenschutz</a>
        </p>
    </div>

    <!-- TODO: Decide if a Flattr button is really desired and if so generate a thing.
    <div class="l-mainframe--footer-box footer-box">
        <p>
            <img src="http://www.numinose.com/wp-content/uploads/2010/08/button-compact-static-100x171.png" alt="Flattr">
        </p>
    </div>
    -->
</footer>

<!-- TODO: Move to <head> (therefore we need a onDocumentReady function around the stuff in filter.js) -->
        <script src="main.js" async></script>

        <script type="text/javascript">
            var _paq = _paq || [];
            if ( document.location.hostname === 'star-trek-roman-timeline.de' ) {
                _paq.push(['trackPageView']);
                _paq.push(['enableLinkTracking']);
            }

            (function() {
                var u="//analytics.philipp-soehnlein.de/";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', 1]);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <noscript><img src="//analytics.philipp-soehnlein.de/piwik.php?idsite=1" style="border:0;" alt="" /></noscript>
    </body>
</html>
