<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="de" class="fullscreen-background-image no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="de" class="fullscreen-background-image no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="de" class="fullscreen-background-image no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="de" class="fullscreen-background-image no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Star Trek Roman Timeline</title>
        <meta name="description" content="Übersicht des deutschsprachigen Star Trek Roman Kontinuums." />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
        <link href="main.css" rel="stylesheet" />

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    </head>
    <body class="l-mainframe">
        <header class="l-mainframe--header">
            <h1 class="l-mainframe--title title"><span lang="en">Star Trek</span> Roman <span lang="en">Timeline</span></h1>
            <h2 class="l-mainframe--tagline tagline">Übersicht des deutschsprachigen <span lang="en">Star Trek</span> Roman Kontinuums. Chronologisch geordnet.</h2>
        </header>