<%
    var pageTitleSuffix = 'Impressum';
    var includeMainJS   = false;
%>
<% include _header %>

<div class="l-mainframe_imprint--top-intermediate">
    <div class="l-mainframe_imprint--top-back-link-wrapper"><a href="/" class="button">Zurück zur <span lang="en">Timeline</span></a></div>
</div>

<main class="l-mainframe_imprint--main">
    <div class="book-box">
        <div class="book-box--inner">
            <div class="book-box--data">
                <h2 class="book-box--header-bar">Impressum</h2>

                <div class="book-box--main">
                    <address class="address" itemscope itemtype="http://schema.org/Person">
                        <span class="address--line">
                            <span itemprop="givenName">Philipp</span> <span itemprop="familyName">Söhnlein</span>
                        </span>

                        <span itemscope itemprop="address" itemtype="http://schema.org/PostalAddress">
                            <span class="address--line" itemprop="streetAddress">Gundekarstraße 6</span>
                            <span class="address--line">
                                <span itemprop="postalCode">91161</span> <span itemprop="addressLocality">Hilpoltstein</span>
                            </span>

                            <span class="address--line">
                                <a href="mailto:&#x73;&#x74;&#x61;&#x72;&#x2D;&#x74;&#x72;&#x65;&#x6B;&#x2D;&#x72;&#x6F;&#x6D;&#x61;&#x6E;&#x2D;&#x74;&#x69;&#x6D;&#x65;&#x6C;&#x69;&#x6E;&#x65;&#x40;&#x70;&#x68;&#x69;&#x6C;&#x69;&#x70;&#x70;&#x2D;&#x73;&#x6F;&#x65;&#x68;&#x6E;&#x6C;&#x65;&#x69;&#x6E;&#x2E;&#x64;&#x65;" itemprop="email">&#x73;&#x74;&#x61;&#x72;&#x2D;&#x74;&#x72;&#x65;&#x6B;&#x2D;&#x72;&#x6F;&#x6D;&#x61;&#x6E;&#x2D;&#x74;&#x69;&#x6D;&#x65;&#x6C;&#x69;&#x6E;&#x65;&#x40;&#x70;&#x68;&#x69;&#x6C;&#x69;&#x70;&#x70;&#x2D;&#x73;&#x6F;&#x65;&#x68;&#x6E;&#x6C;&#x65;&#x69;&#x6E;&#x2E;&#x64;&#x65;</a>
                            </span>
                        </span>
                    </address>

                    <h3 id="datenschutz">Datenschutz</h3>
                    <!-- Textvorlage von http://rechtsanwalt-schwenke.de/piwik-als-alternative-zu-google-analytics-mit-datenschutzmuster/ -->
                    <p>Diese Website benutzt Piwik, eine <span lang="en">Open-Source-Software</span> zur statistischen Auswertung der Besucherzugriffe. Piwik verwendet sogenannte <span lang="en">Cookies</span>, Textdateien, die auf deinem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch dich ermöglichen. Die durch den Cookie erzeugten Informationen über deine Benutzung dieses Internetangebotes werden auf dem Server des Anbieters in Deutschland gespeichert. Die IP-Adresse wird sofort nach der Verarbeitung und vor deren Speicherung anonymisiert. Du kannst die Installation der Cookies <a href="http://donottrack.us/" hreflang="en">durch eine entsprechende Einstellung deiner Browser-Software</a> verhindern.</p>
                    <iframe id="piwik" border="0" width="100%" height="240" style="border: 0;" src="https://analytics.philipp-soehnlein.de/index.php?module=CustomOptOut&action=optOut&idSite=1&language=de"></iframe>

                    <!-- siehe http://www.eisy.eu/kennzeichnung-als-amazon-affiliate-laut-neuen-regeln/ und http://www.eisy.eu/kennzeichnung-als-amazon-affiliate-laut-neuen-regeln/ -->
                    <h3>Amazon Partnerprogramm</h3>
                    <p><span lang="en">Star Trek</span> Roman-<span lang="en">Timeline</span> ist Teilnehmer des Partnerprogramms von Amazon <abbr>EU</abbr>, das zur Bereitstellung eines Mediums für Websites konzipiert wurde, mittels dessen durch die Platzierung von Werbeanzeigen und Links zu Amazon.de Werbekostenerstattung verdient werden kann.</p>
                </div>
            </div>
        </div>
    </div>
</main>

<% include _footer %>
