<%
    var pageTitleSuffix = 'Impressum';
    var includeMainJS   = false;
%>
<% include _header %>

<div class="l-mainframe_imprint--top-intermediate">
    <div class="l-mainframe_imprint--top-back-link-wrapper"><a href="/" class="button">Zurück zur <span lang="en">Timeline</span></a></div>
</div>

<main class="l-mainframe_imprint--main">
    <div class="book-box">
        <div class="book-box--inner">
            <div class="book-box--data">
                <h2 class="book-box--header-bar">Impressum</h2>

                <div class="book-box--main">
                    <address class="address" itemscope itemtype="http://schema.org/Person">
                        <span class="address--line">
                            <span itemprop="givenName">Philipp</span> <span itemprop="familyName">Söhnlein</span>
                        </span>

                        <span itemscope itemprop="address" itemtype="http://schema.org/PostalAddress">
                            <span class="address--line" itemprop="streetAddress">Am Kieselgraben 36</span>
                            <span class="address--line">
                                <span itemprop="postalCode">90584</span> <span itemprop="addressLocality">Allersberg</span>
                            </span>

                            <span class="address--line">
                                <a href="mailto:&#x73;&#x74;&#x61;&#x72;&#x2D;&#x74;&#x72;&#x65;&#x6B;&#x2D;&#x72;&#x6F;&#x6D;&#x61;&#x6E;&#x2D;&#x74;&#x69;&#x6D;&#x65;&#x6C;&#x69;&#x6E;&#x65;&#x40;&#x70;&#x68;&#x69;&#x6C;&#x69;&#x70;&#x70;&#x2D;&#x73;&#x6F;&#x65;&#x68;&#x6E;&#x6C;&#x65;&#x69;&#x6E;&#x2E;&#x64;&#x65;" itemprop="email">&#x73;&#x74;&#x61;&#x72;&#x2D;&#x74;&#x72;&#x65;&#x6B;&#x2D;&#x72;&#x6F;&#x6D;&#x61;&#x6E;&#x2D;&#x74;&#x69;&#x6D;&#x65;&#x6C;&#x69;&#x6E;&#x65;&#x40;&#x70;&#x68;&#x69;&#x6C;&#x69;&#x70;&#x70;&#x2D;&#x73;&#x6F;&#x65;&#x68;&#x6E;&#x6C;&#x65;&#x69;&#x6E;&#x2E;&#x64;&#x65;</a>
                            </span>
                        </span>
                    </address>

                    <!-- siehe http://www.eisy.eu/kennzeichnung-als-amazon-affiliate-laut-neuen-regeln/ und http://www.eisy.eu/kennzeichnung-als-amazon-affiliate-laut-neuen-regeln/ -->
                    <h3>Amazon Partnerprogramm</h3>
                    <p><span lang="en">Star Trek</span> Roman-<span lang="en">Timeline</span> ist Teilnehmer des Partnerprogramms von Amazon <abbr>EU</abbr>, das zur Bereitstellung eines Mediums für Websites konzipiert wurde, mittels dessen durch die Platzierung von Werbeanzeigen und Links zu Amazon.de Werbekostenerstattung verdient werden kann.</p>
                </div>
            </div>
        </div>
    </div>
</main>

<% include _footer %>
