<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="de" class="fullscreen-background-image no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="de" class="fullscreen-background-image no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="de" class="fullscreen-background-image no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="de" class="fullscreen-background-image no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Star Trek Roman Timeline</title>
        <meta name="description" content="Übersicht des deutschsprachigen Star Trek Roman Kontinuums." />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
        <link href="main.css" rel="stylesheet" />
    </head>
    <body class="l-mainframe">
        <header class="l-mainframe--header">
            <h1 class="l-mainframe--title title"><span lang="en">Star Trek</span> Roman <span lang="en">Timeline</span></h1>
            <h2 class="l-mainframe--tagline tagline">Lese lange und in Frieden – und in der richtigen Reihenfolge.</h2>
        </header>

        <main class="l-mainframe_imprint--main">
            <div class="book-box">
                <div class="book-box--inner">
                    <div class="book-box--data">
                        <div class="book-box--main">
                            <p>
                                Hier findest du bald eine Übersicht über das deutschsprachige <span lang="en">Star Trek</span> Roman Kontinuum –
                                chronlogisch geordnet und filterbar, so dass du garantiert in der richtigen Reihenfolge liest.
                            </p>
                            <p>Auf dem laufenden bleibst du am besten über <a href="https://twitter.com/str_timeline">@str_timeline auf <span lang="en">Twitter</span></a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <script type="text/javascript">
            var _paq = _paq || [];
            if ( document.location.hostname === 'star-trek-roman-timeline.de' ) {
                _paq.push(['trackPageView']);
                _paq.push(['enableLinkTracking']);
            }

            (function() {
                var u="//analytics.philipp-soehnlein.de/";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', 1]);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <noscript><img src="//analytics.philipp-soehnlein.de/piwik.php?idsite=1" style="border:0;" alt="" /></noscript>
    </body>
</html>

