<%
   var books  = data.books;
   var series = helpers.getSeries( books );
%><!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="de" class="fullscreen-background-image no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="de" class="fullscreen-background-image no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="de" class="fullscreen-background-image no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="de" class="fullscreen-background-image no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Star Trek Roman Timeline</title>
        <meta name="description" content="Übersicht des deutschsprachigen Star Trek Roman Kontinuums." />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
        <link href="main.css" rel="stylesheet" />

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    </head>
    <body class="l-mainframe">
        <header class="l-mainframe--header">
            <h1 class="l-mainframe--title title"><span lang="en">Star Trek</span> Roman <span lang="en">Timeline</span></h1>
            <h2 class="l-mainframe--tagline tagline">Übersicht des deutschsprachigen <span lang="en">Star Trek</span> Roman Kontinuums. Chronologisch geordnet.</h2>
        </header>

        <div class="l-mainframe--filter l-filter-box">
            <div class="l-filter-box--trigger"><a href="#serienauswahl" class="button _is_filter_trigger">Nach Serien filtern</a></div>
            <form class="l-filter-box--dialog series-filter" id="serienauswahl">
                <div class="l-filter-box--dialog-header">
                    Serien auswählen (<span class="_is_filter_series_count">0</span>/<%= series.length %> gewählt):
                </div>
                <div class="l-filter-box--dialog-content">
                    <div class="l-filter-box--checkbox-group">
                        <% series.forEach( function( seriesData ) { %>
                           <div class="l-filter-box--checkbox checkbox">
                                <input type="checkbox" name="serie" value="<%= seriesData.name %>" class="checkbox--checkbox" id="series-checkbox-<%= seriesData.id %>" data-book-count="<%=  seriesData.count %>">
                                <label class="checkbox--label" for="series-checkbox-<%= seriesData.id %>"><%= seriesData.name %></label>
                            </div>
                        <% }); %>
                    </div>
                </div>
                <div class="l-filter-box--dialog-footer">
                    <p class="l-filter-box--dialog-footer-status-box">
                        <!-- mobile with JS -->
                        <span class="l-filter-box--dialog-footer-status-text-dialog">
                            <span lang="en">Timeline</span> enthält <em class="_is_filter_book_count">x Bücher</em>.
                        </span>

                        <!-- desktop with JS -->
                        <span class="l-filter-box--dialog-footer-status-text">
                            <span lang="en">Timeline</span> für <em class="_is_filter_book_count">x Bücher</em> wird unten angezeigt.
                        </span>
                    </p>
                    <div class="l-filter-box--dialog-footer-button-box">
                        <button type="submit" class="button_primary _is_filter_submit_button">Filtern</button> <!-- Desktop without JS || mobile with JS -->
                    </div>
                </div>
            </form>
        </div>

        <main class="l-mainframe--main">
            <ol class="l-timeline" id="timeline">
                <li class="l-timeline--item is-l-timeline-item-odd is-l-timeline-item-first" data-timline-item-series="tngdoppelhelix">
                    <article class="book-box">
                        <div class="book-box--data">
                            <div class="book-box--main">
                                <h3 class="book-box--title">Infektion</h3>
                                <p class="book-box--description">John Gregory Betancourt</p>
                            </div>

                            <div class="book-box--image-wrapper">
                                <img src="http://www.cross-cult.de/system/html/ST_DS9_810_cover-65fded03.jpg" class="book-box--cover" />
                            </div>

                            <div class="book-box--header-bar">
                                <div class="book-box--series">TNG Doppelhelix #1</div>
                                <time class="book-box--date tag">2364</time>
                            </div>
                        </div>

                        <ul class="book-box--links">
                            <li class="book-box--link-wrapper">
                                <a href="#TODO" class="book-box--link icon_crosscult" lang="en">Cross Cult</a>
                            </li>
                            <li class="book-box--link-wrapper">
                                <a href="#TODO" class="book-box--link icon_amazon" lang="en">Amazon</a>
                            </li>
                            <li class="book-box--link-wrapper">
                                <a href="#TODO" class="book-box--link icon_goodreads" lang="en" hreflang="en">Goodreads</a>
                            </li>
                        </ul>
                    </article>
                </li>
                <li class="l-timeline--item is-l-timeline-item-even _is_timeline_item" data-timline-item-series="comic">
                    <article class="book-box">
                        <div class="book-box--data">
                            <div class="book-box--main">
                                <h3 class="book-box--title">Infektion</h3>
                                <p class="book-box--description">John Gregory Betancourt</p>
                            </div>

                            <div class="book-box--image-wrapper">
                                <img src="http://www.cross-cult.de/system/html/ST_DS9_810_cover-65fded03.jpg" class="book-box--cover" />
                            </div>

                            <div class="book-box--header-bar">
                                <div class="book-box--series">TNG Doppelhelix #1</div>
                                <time class="book-box--date tag">2364</time>
                            </div>
                        </div>

                        <ul class="book-box--links">
                            <li class="book-box--link-wrapper">
                                <a href="#TODO" class="book-box--link icon_crosscult" lang="en">Cross Cult</a>
                            </li>
                            <li class="book-box--link-wrapper">
                                <a href="#TODO" class="book-box--link icon_amazon" lang="en">Amazon</a>
                            </li>
                            <li class="book-box--link-wrapper">
                                <a href="#TODO" class="book-box--link icon_goodreads" lang="en" hreflang="en">Goodreads</a>
                            </li>
                        </ul>
                    </article>
                </li>
                <li class="l-timeline--item is-l-timeline-item-odd _is_timeline_item" data-timline-item-series="ds9">
                    <article class="book-box">
                        <div class="book-box--data">
                            <div class="book-box--main">
                                <h3 class="book-box--title">Infektion</h3>
                                <p class="book-box--description">John Gregory Betancourt</p>
                            </div>

                            <div class="book-box--image-wrapper">
                                <img src="http://www.cross-cult.de/system/html/ST_DS9_810_cover-65fded03.jpg" class="book-box--cover" />
                            </div>

                            <div class="book-box--header-bar">
                                <div class="book-box--series">TNG Doppelhelix #1</div>
                                <time class="book-box--date tag">2364</time>
                            </div>
                        </div>

                        <ul class="book-box--links">
                            <li class="book-box--link-wrapper">
                                <a href="#TODO" class="book-box--link icon_crosscult" lang="en">Cross Cult</a>
                            </li>
                            <li class="book-box--link-wrapper">
                                <a href="#TODO" class="book-box--link icon_amazon" lang="en">Amazon</a>
                            </li>
                            <li class="book-box--link-wrapper">
                                <a href="#TODO" class="book-box--link icon_goodreads" lang="en" hreflang="en">Goodreads</a>
                            </li>
                        </ul>
                    </article>
                </li>
                <li class="l-timeline--item is-l-timeline-item-even _is_timeline_item" data-timline-item-series="tngdoppelhelix">
                    <article class="book-box">
                        <div class="book-box--data">
                            <div class="book-box--main">
                                <h3 class="book-box--title">Infektion</h3>
                                <p class="book-box--description">John Gregory Betancourt</p>
                            </div>

                            <div class="book-box--image-wrapper">
                                <img src="http://www.cross-cult.de/system/html/ST_DS9_810_cover-65fded03.jpg" class="book-box--cover" />
                            </div>

                            <div class="book-box--header-bar">
                                <div class="book-box--series">TNG Doppelhelix #1</div>
                                <time class="book-box--date tag">2364</time>
                            </div>
                        </div>

                        <ul class="book-box--links">
                            <li class="book-box--link-wrapper">
                                <a href="#TODO" class="book-box--link icon_crosscult" lang="en">Cross Cult</a>
                            </li>
                            <li class="book-box--link-wrapper">
                                <a href="#TODO" class="book-box--link icon_amazon" lang="en">Amazon</a>
                            </li>
                            <li class="book-box--link-wrapper">
                                <a href="#TODO" class="book-box--link icon_goodreads" lang="en" hreflang="en">Goodreads</a>
                            </li>
                        </ul>
                    </article>
                </li>
            </ol>
        </main>

        <footer class="l-mainframe--footer">
            <div class="l-mainframe--footer-box footer-box_black">
                <h2 class="footer-box_black--headline">Danke / <span lang="en">Credits</span>:</h2>

                <p>Erstellt mit Omega-Molekülen, Solitenpulsen und der Hilfe von folgenden netten Erdlingen:</p>

                <ul class="footer-box_black--list">
                    <li>Markus Rohde von <span lang="en">Cross Cult</span> (danke für die freundliche Unterstützung).</li>
                    <li><a href="http://www.glennclovis.com/" hreflang="en" lang="en">Glenn Clovis</a> gebührt Lobpreisung für <a href="https://glennclovis.deviantart.com/art/Kaemira-Nebula-98319079" hreflang="en" lang="en">Kaemira Nebula</a>.</li>
                </ul>
            </div>

            <div class="l-mainframe--footer-box footer-box">
                <p>
                    Diese Seite ist inoffiziell und wird nicht von <span lang="en">Cross Cult</span>, <span lang="en">Paramount</span> oder <span lang="en">CBS</span> betrieben.
                    <br><a href="#TODO">Impressum</a>
                </p>
            </div>

            <!-- TODO: Decide if a Flattr button is really desired and if so generate a thing.
            <div class="l-mainframe--footer-box footer-box">
                <p>
                    <img src="http://www.numinose.com/wp-content/uploads/2010/08/button-compact-static-100x171.png" alt="Flattr">
                </p>
            </div>
            -->
        </footer>

        <!-- TODO: Move to <head> (therefore we need a onDocumentReady function around the stuff in filter.js) -->
        <script src="main.js" async></script>
    </body>
</html>
